services:
  bookstores-api:
    build: .
    container_name: bookstores-api
    ports:
      - "8080:8080"
    environment:
      - ENV=${ENV}
      - LOG_LEVEL=${LOG_LEVEL}
      - SERVICE_PORT=${SERVICE_PORT}
      - DB_HOST=postgres-db
      - DB_PORT=5432
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_SSL_MODE=${DB_SSL_MODE}
    depends_on:
      postgres-db:
        condition: service_healthy

  postgres-db:
    image: postgres:18-alpine
    container_name: bookstores-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
